<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Listado Noticias</title>
    <meta charset="UTF-8"/>
</head>
<body>
<section th:fragment="ListadoNoticias" id="noticias">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4>[[#{noticia.titulo-lista}]]</h4>
                    </div>
                    <div th:if="${noticias != null and !noticias.empty}">
                        <table class="table table-stryped">
                            <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th th:text="#{noticia.titulo}">Titulo</th>
                                <th th:text="#{noticia.resumen}">Resumen</th>
                                <th th:text="#{noticia.cuerpo}">Cuerpo</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="noticia, contador : ${noticias}">
                                <td>[[${contador.count}]]</td>
                                <td>[[${noticia.titulo}</td>
                                <td>[[${noticia.resumen)}]]</td>
                                <td>
                                    <a sec:authorize="hasRole('ROLE_ADMIN')"
                                       th:href="@{/editar(idNoticia=${noticia.IdNoticia})}"
                                       class="btn btn-secondary">
                                        <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                    </a>
                                </td>
                                <td>
                                    <a sec:authorize="hasRole('ROLE_ADMIN')"
                                       th:href="@{/eliminar(idNoticia=${noticia.IdNoticia})}"
                                       class="btn btn-dark">
                                        <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center p-2" th:if="${noticias == null or noticias.empty}">
                        <span th:text="#{noticia.lista_vacia}">Lista vacía</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center bg-danger text-white mb-3">
                    <div class="card-body">
                        <h3>Cuadro 1</h3>
                        <h4 class="display-4">
                            Content
                        </h4>
                    </div>
                </div>

                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <h3>Cuadro 2</h3>
                        <h4 class="display-4">
                            <i class="fas fa-users"></i> Content
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
